{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/Contact-Form-Clean-Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/Footer-Basic-Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/Login-Form-Clean-Login-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/Navigation-with-Search-Navigation-with-Search.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/untitled-2.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/untitled-3.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='advcreate/assets/css/untitled.css')}}">
{% endblock %}
{% block scripts %}
    <script src="{{url_for('.static', filename='advcreate/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='advcreate/assets/bootstrap/js/bootstrap.min.js')}}"></script>
    {{super()}}
{% endblock %}

{% block html_attribs %} lang="en" {% endblock %}




    {% block title %}newAdvert{% endblock %}










{% block content %}
    <div style="background: #eeeeee;">
        <div style="background: #ffffff;box-shadow: 0px 0px 10px 0px rgba(80,94,108,0.71);margin-bottom: 1px;">
            <div class="container" style="padding-left: 0px;padding-right: 0px;width: 1050px;">
                <div class="row" style="margin-left: 0px;margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 text-center" style="padding-left: 0px;padding-right: 0px;margin-bottom: 0px;"><a href="/" style="padding-bottom: 0px;padding-top: 0px;margin-left: 0px;display: inline-block;"><img style="height: 64px;width: 170px;margin-left: 0px;display: inline-block;" src="{{url_for('.static', filename='index/assets/img/baraholkaBlack.png')}}"></a>
                        <form class="form-inline" id="filter-form" target="_self" style="background: rgba(255,255,255,0);padding-right: 0px;padding-left: 0px;display: inline-block;height: 38px;padding-top: 0px;margin-left: 18px;">
                            <div class="form-group"><select class="form-control" style="display: inline-block;width: 160px;font-size: 14px;background: #e3e3e3;margin-left: 0px;height: 38px;text-align: left;padding-left: 5px;padding-right: 12px;box-shadow: 0px 0px;border-radius: 10px;border-style: none;color: rgb(64,64,64);" name="category" onchange="this.form.submit()">
                                    <option value="12" selected="">Недвижимость</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </select></div>
                            <div class="form-group" style="background: #e3e3e3;border-radius: 99px;border: 2px none #eeeeee;margin-left: 18px;"><button class="btn btn-default barahloka-btn" type="submit" style="font-size: 16px;color: rgb(255,255,255);background: #00a5db;border-radius: 99px;border-style: none;text-shadow: 0px 0px;margin-right: 6px;padding-top: 7px;padding-bottom: 7px;padding-left: 15px;padding-right: 14px;margin-left: 0px;display: inline-block;"><img style="width: 23px;height: 23px;display: inline-block;" src="{{url_for('.static', filename='index/assets/img/search-icon.png')}}"></button><input class="form-control search-field" type="search" id="search-field-2" name="search" style="width: 260px;border-radius: 99px;box-shadow: 0px 0px rgba(255,255,255,0);margin-left: 0px;font-size: 15px;height: 38px;display: inline-block;background: #e3e3e3;border-style: none;border-color: #eeeeee;" placeholder="Поиск"></div>
                        </form><a class="btn btn-default text-nowrap barahloka-btn" role="button" style="font-size: 15px;color: rgb(255,255,255);background: #00a5db;border-radius: 12px;padding-top: 8px;padding-bottom: 8px;padding-right: 16px;padding-left: 16px;border-style: none;text-shadow: 0px 0px;display: inline-block;margin-left: 214px;" href="/login">Профиль</a>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 0px;padding-top: 0px;">
            <section class="login-clean" style="background: rgba(255,255,255,0);margin-top: 0px;padding-bottom: 65px;padding-top: 35px;">
                <form method="post" style="box-shadow: 0px 0px 8px rgba(80,94,108,0.59);max-width: 1000px;width: 1000px;" enctype="multipart/form-data">
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Название" style="font-size: 16px;background: #efefef;" required></div>
                    <div class="form-group"><textarea class="form-control" style="font-size: 16px;background: #efefef;color: rgb(80, 94, 108);height: 125px;max-width: 920px;min-width: 920px;" placeholder="Описание" name="description"></textarea></div>
                    <div class="form-group"><input class="form-control" type="text" name="address" placeholder="Адрес" style="font-size: 16px;background: #efefef;width: 475px;display: inline-block;" required><select class="form-control" style="display: inline-block;width: 200px;font-size: 16px;background: #efefef;margin-left: 42px;" name="category" required>
                            {% for category in categories %}
                            <option>{{category}}</option>
                            {% endfor %}
                        </select><input class="form-control" type="number" name="price" placeholder="Цена" style="font-size: 16px;background: #efefef;width: 175px;display: inline-block;margin-left: 25px;" min="0"></div>
                    <div class="form-group">
                        <p style="font-size: 16px;color: rgb(0,0,0);display: inline-block;">Загрузите фотографии:</p><input type="file" style="font-size: 16px;background: #efefef;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;padding-right: 10px;display: inline-block;width: 723px;margin-left: 13px;" multiple="" name="file">
                    </div>
                    <div class="form-group text-center" style="margin-bottom: 0px;"><button class="btn btn-default barahloka-btn" type="submit" style="font-size: 16px;color: rgb(255,255,255);background: #00a5db;border-radius: 12px;padding-top: 8px;padding-bottom: 8px;padding-right: 16px;padding-left: 16px;border-style: none;text-shadow: 0px 0px;display: inline-block;margin-left: 0px;width: 920px;">Создать объявление</button></div>
                </form>
            </section>
        </div>
        <footer class="text-center" style="background: #ffffff;padding-top: 10px;padding-bottom: 10px;">
            <p style="margin-bottom: 0px;margin-top: 0px;font-size: 15px;">Baraholka 2022</p>
        </footer>
    </div>


{% endblock %}

