{% extends "bootstrap/base.html" %}

{% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/css/Footer-Basic-Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/css/Navigation-with-Search-Navigation-with-Search.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/css/untitled-2.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/css/untitled-3.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='chatslist/assets/css/untitled.css')}}">
{% endblock %}
{% block scripts %}
    <script src="{{url_for('.static', filename='chatslist/assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='chatslist/assets/bootstrap/js/bootstrap.min.js')}}"></script>
    {{super()}}
{% endblock %}

{% block html_attribs %} lang="en" {% endblock %}




    {% block title %}main{% endblock %}








{% block content %}
    <div style="background: #eeeeee;">
        <div style="background: #ffffff;box-shadow: 0px 0px 10px 0px rgba(80,94,108,0.71);margin-bottom: 1px;">
            <div class="container" style="padding-left: 0px;padding-right: 0px;width: 1050px;">
                <div class="row" style="margin-left: 0px;margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 text-center" style="padding-left: 0px;padding-right: 0px;margin-bottom: 0px;"><a href="/" style="padding-bottom: 0px;padding-top: 0px;margin-left: 0px;display: inline-block;"><img style="height: 64px;width: 170px;margin-left: 0px;display: inline-block;" src="{{url_for('.static', filename='index/assets/img/baraholkaBlack.png')}}"></a>
                        <form class="form-inline" id="filter-form" target="_self" style="background: rgba(255,255,255,0);padding-right: 0px;padding-left: 0px;display: inline-block;height: 38px;padding-top: 0px;margin-left: 18px;">
                            <div class="form-group"><select class="form-control" style="display: inline-block;width: 160px;font-size: 14px;background: #e3e3e3;margin-left: 0px;height: 38px;text-align: left;padding-left: 5px;padding-right: 12px;box-shadow: 0px 0px;border-radius: 10px;border-style: none;color: rgb(64,64,64);" name="category" onchange="this.form.submit()">
                                {% for category in searchCategories %}
                                <option {{category.selected}}>{{category.name}}</option>
                                {% endfor %}
                                </select></div>
                            <div class="form-group" style="background: #e3e3e3;border-radius: 99px;border: 2px none #eeeeee;margin-left: 18px;"><button class="btn btn-default barahloka-btn" type="submit" style="font-size: 16px;color: rgb(255,255,255);background: #00a5db;border-radius: 99px;border-style: none;text-shadow: 0px 0px;margin-right: 6px;padding-top: 7px;padding-bottom: 7px;padding-left: 15px;padding-right: 14px;margin-left: 0px;display: inline-block;"><img style="width: 23px;height: 23px;display: inline-block;" src="{{url_for('.static', filename='index/assets/img/search-icon.png')}}"></button><input class="form-control search-field" type="search" id="search-field-2" name="search" style="width: 260px;border-radius: 99px;box-shadow: 0px 0px rgba(255,255,255,0);margin-left: 0px;font-size: 15px;height: 38px;display: inline-block;background: #e3e3e3;border-style: none;border-color: #eeeeee;" placeholder="Поиск"></div>
                        </form><a class="btn btn-default text-nowrap barahloka-btn" role="button" style="font-size: 15px;color: rgb(255,255,255);background: #00a5db;border-radius: 12px;padding-top: 8px;padding-bottom: 8px;padding-right: 16px;padding-left: 16px;border-style: none;text-shadow: 0px 0px;margin-right: -2px;display: inline-block;margin-left: 18px;" href="/newadvert/">Создать объявление</a><a class="btn btn-default text-nowrap barahloka-btn" role="button" style="font-size: 15px;color: rgb(255,255,255);background: #00a5db;border-radius: 12px;padding-top: 8px;padding-bottom: 8px;padding-right: 16px;padding-left: 16px;border-style: none;text-shadow: 0px 0px;display: inline-block;margin-left: 18px;" href="/login">Профиль</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 20px;"></div>

        {% if chatPreviews|length > 0 %}

        <div style="padding-top: 0px;background: rgba(211,211,211,0);margin-top: 15px;">
            <div class="container" style="padding-right: 0px;padding-left: 0px;width: 600px;">
                {% for chatPreview in chatPreviews %}
                <div class="row" style="margin-left: 0px;margin-right: 0px;height: 109px;">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background: #ffffff;padding: 10px;height: 109px;border-width: 1px;border-color: #e6e6e6;"><a href="{{chatPreview.link}}"><img style="width:  {{chatPreview.image.w}}px;border-style: solid;border-color: #dadada;height: {{chatPreview.image.w}}px;margin-right: 0px;max-height: 87px;max-width: 128px;" src="{{chatPreview.image.path}}" width="95" height="63"></a></div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background: #ffffff;padding: 10px;height: 109px;border-width: 1px;border-color: #e6e6e6;padding-left: 0px;padding-top: 12px;padding-bottom: 12px;padding-right: 15px;"><a href="{{chatPreview.link}}" style="color: rgb(0,0,0);font-size: 16px;font-weight: bold;display: block;">{{chatPreview.advertName}}</a>
                        <p style="margin-bottom: 0px;margin-top: 8px;color: rgb(0,0,0);"><span style="color: rgb(223, 0, 15);">👤</span><span style="color: rgb(0, 0, 0);">&nbsp;{{chatPreview.otherUserName}}</span></p>
                        <p class="text-nowrap" style="margin-bottom: 0px;margin-top: 8px;overflow: hidden;text-overflow: ellipsis;">{{chatPreview.lastMessagePreview}}<br></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% else %}

        <div>
            <p style="text-align: center;font-size: 26px;margin-bottom: 0px;padding-top: 50px;padding-bottom: 50px;">У вас нет сообщений</p>
        </div>

        {% endif %}

        <div class="text-center">
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="disabled"><a href="#">3</a></li>
                    <li class="disabled"><a href="#">4</a></li>
                    <li class="disabled"><a href="#">5</a></li>
                    <li class="disabled"><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <footer class="text-center" style="background: #ffffff;padding-top: 10px;padding-bottom: 10px;">
        <p style="margin-bottom: 0px;margin-top: 0px;font-size: 15px;">Baraholka 2022</p>
    </footer>


{% endblock %}

